*,
::after,
::before {
    box-sizing: inherit;
    border-style: solid;
    border-width: 0;
}

* {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

::after,
::before {
    text-decoration: inherit;
    vertical-align: inherit;
}

:root {
    overflow-y: scroll;
    text-size-adjust: 100%;
    box-sizing: border-box;
    cursor: default;
    font: 16px/1.5 sans-serif;
    text-rendering: optimizeLegibility;
}
